<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "5c7287d47be641a5927158c818ffd7b7"}'></script>
<!-- End Cloudflare Web Analytics -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
<a href="{{ "/" | relURL }}" class="title">
  <h2>{{ .Site.Title }}</h2>
</a>
<nav>{{ partial "nav" . }}</nav>
